<?xml version="1.0" encoding="UTF-8"?>
<config>
	<version showWhatsNew="true">1.2</version>
	<!-- Ad Interruption Functionality -->
	<adInterruption enabled="false">content/ad_animation/interruption.swf</adInterruption>
	<!-- External plugins to load -->
	<plugins enabled="true">
		<plugin id="analytics" enabled="false">plugins/plugin_nick_analytics.swf</plugin>
		<plugin id="leaderboard" enabled="false">plugins/plugin_nick_leaderboard.swf</plugin>
		<plugin id="services" enabled="true">plugins/plugin_nick_services.swf</plugin>
		<plugin id="localization" enabled="true">plugins/plugin_nick_localization.swf</plugin>
	</plugins>
	<!--ServiceLocator url-->
	<urlNickServiceLocator>common/flash/services/data/services.xml</urlNickServiceLocator>
	<!-- URL of Nick in-game notification API -->
	<nickServicesAPIAchievementsURL>games/data/awards/in-game-notifications/nick_services_achievements.swf</nickServicesAPIAchievementsURL>
	<!-- Used by Universal End Game Screen -->
	<nickUEGSSettings>
		<titleText>GAME OVER</titleText>
		<scoreText>Score</scoreText>
	</nickUEGSSettings>
	<!-- Used by nick services plugin -->
	<nickServicesSettings>
		<enableAnalytics method="1" useEncryption="true" id="1021315453511874017">false</enableAnalytics>
		<enableLogin method="3">false</enableLogin> <!-- method "3" should always be used. -->
		<enableTracking method="0">false</enableTracking>
		<enableNickPoints>false</enableNickPoints>
		<enableAchievements>false</enableAchievements>
		<enableClubItems>false</enableClubItems>
		<enableUniversalEndGameScreen>true</enableUniversalEndGameScreen>
		<enableLegacyServiceProxy url="plugins/legacy/nick_legacy_services.swf">true</enableLegacyServiceProxy> <!-- This is still necessary for leaderboards -->
	</nickServicesSettings>
	<!-- Domains this application is intended to run on -->
	<allowedDomains>
		<allowedDomain>workinman.com</allowedDomain>
		<allowedDomain>*</allowedDomain>
		<allowedDomain>nick.com</allowedDomain>
		<allowedDomain>mtvi.com</allowedDomain>
		<allowedDomain>mtvnimages.com</allowedDomain>
	</allowedDomains>
	<!-- Used by services plugin -->
	<tracking>
		<tracking_legacy>
			<trackingPlayFunction>trackKidsGamePlay</trackingPlayFunction>
			<trackingPlayAgainFunction>trackKidsGamePlay</trackingPlayAgainFunction>
			<trackingPlayGameName>power-rangers-samurai-super-samurai</trackingPlayGameName> <!-- Needs custom data -->
			<trackingPrintFunction>printTracker</trackingPrintFunction>
			<trackingPrintSite>nick</trackingPrintSite> <!-- Needs custom data -->
			<trackingPrintUrlAlias>power-rangers-samurai-super-samurai</trackingPrintUrlAlias> <!-- Needs custom data -->
			<trackingPrintContentType>game</trackingPrintContentType>
			<trackingPrintShowID>hs_pr_samurai</trackingPrintShowID> <!-- Needs custom data -->
		</tracking_legacy>
		<tracking_2011>
			<trackingGameLoad>ON_GAME_LOAD</trackingGameLoad>
			<trackingGameLoadStart>GAME_LOAD_START</trackingGameLoadStart>
			<trackingGameLoadComplete>GAME_LOAD_COMPLETE</trackingGameLoadComplete>
			<trackingGamePlay>ON_GAME_PLAY</trackingGamePlay>
			<trackingLevelStart>ON_GAME_LEVELSTART</trackingLevelStart>
		</tracking_2011>
	</tracking>
	<!-- Used by leaderboard plugin -->
	<leaderboard>
		<gameId id="game">power-rangers-samurai-super-samurai</gameId> <!-- Needs custom data -->
	</leaderboard>
	<!-- Used by localization plugin. Technically all translationXml collections are tied to an appId. However if you leave the appId as "" and do the same in the app itself, it will treat it as a "generic" localization file. Convenient for fast/easy access. -->
	<localization>
		<fontFile>fonts/embeddedFonts.swf</fontFile>
		<fontXml>fonts/fonts.xml</fontXml>
		<translationXmls>
			<translationXml appId="">xml/translation.xml</translationXml>
		</translationXmls>
	</localization>
	<!-- External Files to load -->
	<file_collections>
		<collection id="initial">
			<file id="ui">content/swfs/ui.swf</file>
			<file id="episodes_xml">xml/episodes.xml</file>
			<file id="audio_ui">content/swfs/audio/audio_ui.swf</file>
		</collection>
		<collection id="universal_gameplay">
			<file id="rangers">content/swfs/rangers.swf</file>
			<file id="moogers">content/swfs/moogers.swf</file>
			<file id="effects">content/swfs/effects.swf</file>
			<file id="zords">content/swfs/zords.swf</file>
			<file id="outro">content/swfs/outro.swf</file>
			<file id="audio_gameplay">content/swfs/audio/audio_gameplay.swf</file>
		</collection>
		<collection id="episode1">
			<file id="negatron">content/swfs/nighloks/negatron.swf</file>
		</collection>
		<collection id="episode2">
			<file id="switchbeast">content/swfs/nighloks/switchbeast.swf</file>
		</collection>
		<collection id="episode3">
			<file id="desparaino">content/swfs/nighloks/despiraino.swf</file>
		</collection>
		<collection id="episode4">
			<file id="crustor">content/swfs/nighloks/crustor.swf</file>
		</collection>
		<collection id="episode5">
			<file id="epoxar">content/swfs/nighloks/epoxar.swf</file>
		</collection>
	</file_collections>
	<!--Cutscene Engine-->
	<cutsceneEngine enabled="true" baseUrl="xml/cutscenes/">
		<characters>characters.xml</characters>
		<cutsceneCollections>
			<collection id="universal">
				<file>universal.xml</file>
			</collection>
			<collection id="csepisode1">
				<file>episode1cs1.xml</file>
			</collection>
			<collection id="csepisode2">
				<file>episode2cs1.xml</file>
			</collection>
			<collection id="csepisode3">
				<file>episode3cs1.xml</file>
			</collection>
			<collection id="csepisode4">
				<file>episode4cs1.xml</file>
			</collection>
			<collection id="csepisode5">
				<file>episode5cs1.xml</file>
			</collection>
		</cutsceneCollections>
	</cutsceneEngine>
	<!-- Printable -->
	<printable enabled="true" />
	<!-- Nick Points -->
	<!-- moduleSwfUrl should only be used if specifically directed. Otherwise leave it empty.-->
	<nickPoints moduleSwfUrl="">
		<campaignName>nps_prs-super-samurai</campaignName> <!-- [TODO] Needs custom data -->
	</nickPoints>
	<!-- Nick Achievements --> <!-- Needs custom data -->
	<achievements gameId="power-rangers-samurai-super-samurai" urlBaseIcons="/nick-assets/achievements/images/power-rangers-samurai-super-samurai/"
			urlUIPopup="components/achievement_popup.swf" urlUISummary="components/achievement_summary.swf"
			popupAlignment="bottomleft" popupDuration="3" badgeAssetOffsetX="0" badgeAssetOffsetY="0">
		<!-- popupAlignment can be "top", "bottom", "topleft", "topright", "bottomleft", "bottomright" top and bottom are centered, left and right are in the top corners -->
		<!-- id is for local use only. You can call it whatever you want. The node value is the actual trigger that will be sent to nick.com services -->
		<achievement>
			<id>OneEpisodeBeaten</id> <!-- The local reference to be used in the game-->
            <trigger>CallOfDuty</trigger> <!-- the actual trigger value that is sent to nick.com servers-->
            <serverCode>power-rangers-samurai-super-samurai_10</serverCode><!-- This is the code that the server responds with. Needed to verify that a badge has been earned. -->
            <nickPointEventName>badge-one</nickPointEventName> <!-- This will normally be: badge-one, badge-two, badge-three, badge-four, badge-five, trophy -->
            <title><![CDATA[Call of Duty]]></title> <!-- The title of the achievement for in-game display. -->
            <description><![CDATA[Beat one Level]]></description> <!-- The description of the achievement for in-game display. -->
            <dataType>Number</dataType> <!-- The type of data  that will be sent with this achievement. Can be either Number or String.  -->
            <urlIconEnabled>power-rangers-samurai-super-samurai_10.png</urlIconEnabled> <!-- The URL of this achievement's "earned" icon -->
            <urlIconDisabled>power-rangers-samurai-super-samurai_10_grey.png</urlIconDisabled> <!-- The URL of this achievement's "not earned yet" icon -->
		</achievement>
		<achievement>
			<id>SummonZord</id> <!-- The local reference to be used in the game-->
            <trigger>ZordPower</trigger> <!-- the actual trigger value that is sent to nick.com servers-->
            <serverCode>power-rangers-samurai-super-samurai_20</serverCode><!-- This is the code that the server responds with. Needed to verify that a badge has been earned. -->
            <nickPointEventName>badge-two</nickPointEventName> <!-- This will normally be: badge-one, badge-two, badge-three, badge-four, badge-five, trophy -->
            <title><![CDATA[Zord Power]]></title> <!-- The title of the achievement for in-game display. -->
            <description><![CDATA[User Zord power once]]></description> <!-- The description of the achievement for in-game display. -->
            <dataType>Number</dataType> <!-- The type of data  that will be sent with this achievement. Can be either Number or String.  -->
            <urlIconEnabled>power-rangers-samurai-super-samurai_20.png</urlIconEnabled> <!-- The URL of this achievement's "earned" icon -->
            <urlIconDisabled>power-rangers-samurai-super-samurai_20_grey.png</urlIconDisabled> <!-- The URL of this achievement's "not earned yet" icon -->
		</achievement>
		<achievement>
			<id>ThreeEpisodesBeaten</id> <!-- The local reference to be used in the game-->
            <trigger>StillSamuraiStrong</trigger> <!-- the actual trigger value that is sent to nick.com servers-->
            <serverCode>power-rangers-samurai-super-samurai_30</serverCode><!-- This is the code that the server responds with. Needed to verify that a badge has been earned. -->
            <nickPointEventName>badge-three</nickPointEventName> <!-- This will normally be: badge-one, badge-two, badge-three, badge-four, badge-five, trophy -->
            <title><![CDATA[Still Samurai Strong]]></title> <!-- The title of the achievement for in-game display. -->
            <description><![CDATA[Beat three levels]]></description> <!-- The description of the achievement for in-game display. -->
            <dataType>Number</dataType> <!-- The type of data  that will be sent with this achievement. Can be either Number or String.  -->
            <urlIconEnabled>power-rangers-samurai-super-samurai_30.png</urlIconEnabled> <!-- The URL of this achievement's "earned" icon -->
            <urlIconDisabled>power-rangers-samurai-super-samurai_30_grey.png</urlIconDisabled> <!-- The URL of this achievement's "not earned yet" icon -->
		</achievement>
		<achievement>
			<id>OneRangerAtTen</id> <!-- The local reference to be used in the game-->
            <trigger>LookinSharp</trigger> <!-- the actual trigger value that is sent to nick.com servers-->
            <serverCode>power-rangers-samurai-super-samurai_40</serverCode><!-- This is the code that the server responds with. Needed to verify that a badge has been earned. -->
            <nickPointEventName>badge-four</nickPointEventName> <!-- This will normally be: badge-one, badge-two, badge-three, badge-four, badge-five, trophy -->
            <title><![CDATA[Lookin' Sharp]]></title> <!-- The title of the achievement for in-game display. -->
            <description><![CDATA[Unlock Super Samurai with one ranger]]></description> <!-- The description of the achievement for in-game display. -->
            <dataType>Number</dataType> <!-- The type of data  that will be sent with this achievement. Can be either Number or String.  -->
            <urlIconEnabled>power-rangers-samurai-super-samurai_40.png</urlIconEnabled> <!-- The URL of this achievement's "earned" icon -->
            <urlIconDisabled>power-rangers-samurai-super-samurai_40_grey.png</urlIconDisabled> <!-- The URL of this achievement's "not earned yet" icon -->
		</achievement>
		<achievement>
			<id>ThreeHardEpisodesBeaten</id> <!-- The local reference to be used in the game-->
            <trigger>IAmToughEnough</trigger> <!-- the actual trigger value that is sent to nick.com servers-->
            <serverCode>power-rangers-samurai-super-samurai_50</serverCode><!-- This is the code that the server responds with. Needed to verify that a badge has been earned. -->
            <nickPointEventName>badge-five</nickPointEventName> <!-- This will normally be: badge-one, badge-two, badge-three, badge-four, badge-five, trophy -->
            <title><![CDATA[I am tough enough]]></title> <!-- The title of the achievement for in-game display. -->
            <description><![CDATA[Beat three levels on Hard]]></description> <!-- The description of the achievement for in-game display. -->
            <dataType>Number</dataType> <!-- The type of data  that will be sent with this achievement. Can be either Number or String.  -->
            <urlIconEnabled>power-rangers-samurai-super-samurai_50.png</urlIconEnabled> <!-- The URL of this achievement's "earned" icon -->
            <urlIconDisabled>power-rangers-samurai-super-samurai_50_grey.png</urlIconDisabled> <!-- The URL of this achievement's "not earned yet" icon -->
		</achievement>
		<achievement>
			<id>AllRangersAtTen</id> <!-- The local reference to be used in the game-->
            <trigger>WeAreSuperSamurai</trigger> <!-- the actual trigger value that is sent to nick.com servers-->
            <serverCode>power-rangers-samurai-super-samurai_100</serverCode><!-- This is the code that the server responds with. Needed to verify that a badge has been earned. -->
            <nickPointEventName>trophy</nickPointEventName> <!-- This will normally be: badge-one, badge-two, badge-three, badge-four, badge-five, trophy -->
            <title><![CDATA[We are Super Samurai!]]></title> <!-- The title of the achievement for in-game display. -->
            <description><![CDATA[Unlock Super Samurai for all Rangers]]></description> <!-- The description of the achievement for in-game display. -->
            <dataType>Number</dataType> <!-- The type of data  that will be sent with this achievement. Can be either Number or String.  -->
            <urlIconEnabled>power-rangers-samurai-super-samurai_100.png</urlIconEnabled> <!-- The URL of this achievement's "earned" icon -->
            <urlIconDisabled>power-rangers-samurai-super-samurai_100_grey.png</urlIconDisabled> <!-- The URL of this achievement's "not earned yet" icon -->
		</achievement>
	</achievements>
</config>